@import 'vars';

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.hide {
  display: none;
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
	@media (min-width: $breakpoint-value){
    .block--#{$breakpoint-name} {
      display: block;
    }

    .inline--#{$breakpoint-name} {
      display: inline;
    }

    .inline-block--#{$breakpoint-name} {
      display: inline-block;
    }

    .hide--#{$breakpoint-name} {
      display: none;
    }
  }
}
