@import 'vars';

body {
  margin: 0;
}

div[class^="col"]{
	min-height: 1px;
	padding: $gutter / 2;
}

@each $col-name, $col-value in $columns {
  .col__#{$col-name}{
    width: 100%;
  }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {

	@media (min-width: $breakpoint-value){
		@each $col-name, $col-value in $columns {
			.col__#{$col-name}--#{$breakpoint-name}{
				width: $col-value;
			}
		}
	}
}

* {
	box-sizing: border-box;
}

.container {
	max-width: $xxl;
	margin: 0 auto;
  width: 95%;
}

.grid--fluid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 (-$gutter/2);
}

.grid--fixed {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  margin: 0 (-$gutter/2);

	div[class^="col"]{
		min-width: 320 - $gutter;
	}

}
